<ion-header>

  <ion-navbar>
    <ion-title>{{quoteGroup.category | uppercase}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card *ngFor="let group of quoteGroup.quotes; let i = index">
    <ion-card-header text-center>
      #{{i+1}}
    </ion-card-header>
    <ion-card-content class="card-content">
      <p>{{group.text}}</p>
      <p class="author">{{group.person}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col text-right>
        <button ion-button clear small
                (click)="onAddToFavorites(group)"
                *ngIf="!isQuoteFavorite(group)">
          Favorite</button>
        <button ion-button clear small color="danger"
                (click)="onRemoveFromFavorites(group)"
                *ngIf="isQuoteFavorite(group)">
          UnFavorite</button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
